# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
.venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
staticfiles/
*.pyc
*.pyo

# Pytest / coverage
htmlcov/
.coverage
*.cover
.coverage.*
.cache
nosetests.xml
coverage.xml
*.prof
*.pytest_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secrets / config
*.env
